html.h-100
  head
    meta(charset='utf-8')
    title= htmlWebpackPlugin.options.title 
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
  body.bg-light
    .container
       
      #root.row
      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2017-2018 Company Name
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') Support
    //- script(src='node_modules/jquery/dist/jquery.min.js')
    //- script(src='node_modules/popper.js/dist/umd/popper.min.js')
    //- script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
    //- script(src='dist/index.js')
